[alias]
	co = checkout
	br = branch
	cm = commit
	st = status
	graph = log --graph --oneline --decorate
	fixlast = commit -a --amend -C HEAD
	fl = fixlast
	gr = graph
	rp = rev-parse
	fork-point = merge-base --fork-point
	fp = fork-point
	lg = log --oneline
[core]
	pager = delta
	editor = nvim
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true    # use n and N to move between diff sections
	line-numbers = true
[merge]
	conflictstyle = zdiff3
[diff]
	colorMoved = default
[user]
	name = G Roques
	email = groques360@gmail.com
[includeIf "gitdir:~/Work/**"]
	path = ~/.gitconfig-work

